.btn-green-ppal{
    background-color: #009d0c;
}
.item-ppal{
    background-color: #025126;
}
.text-white{
    color: white
}
.fondo-ppal{
    background-color: #04b353;
}
.btn-orange-p{
    background-color: #e79234;
}
.green-claro{
    background-color: #b6d8a8;
}
